{% extends 'base.html' %} {% block title %}Lista de tarefas{% endblock %}
{%block content %}
<div class="offset-1 col-10 list-div">
  <h1>Lista de tarefas</h1>
  <div class="col-2 add-div"><i class="fa fa-plus"></i> Adicionar tarefa</div>
  <div class="col-9 search-div">
    <form action="">
      <input
        class="form-control"
        type="text"
        name="search"
        id="search"
        placeholder="Digite o nome da tarefa para buscar..."
      />
    </form>
  </div>
  <ul class="task-list">
    <li class="task-item">
      <span>Título da tarefa</span>
      <span><i class="fa fa-trash"></i></span>
      <span><i class="fa fa-edit"></i></span>
    </li>
    <li class="task-item">
      <span>Título da tarefa</span>
      <span><i class="fa fa-trash"></i></span>
      <span><i class="fa fa-edit"></i></span>
    </li>
    <li class="task-item">
      <span>Título da tarefa</span>
      <span><i class="fa fa-trash"></i></span>
      <span><i class="fa fa-edit"></i></span>
    </li>
    <li class="task-item">
      <span>Título da tarefa</span>
      <span><i class="fa fa-trash"></i></span>
      <span><i class="fa fa-edit"></i></span>
    </li>
    <li class="task-item">
      <span>Título da tarefa</span>
      <span><i class="fa fa-trash"></i></span>
      <span><i class="fa fa-edit"></i></span>
    </li>
  </ul>
</div>
{% endblock %}
